$colors: (
    blue: (
        100: #A7AAAD,
        200: #808397,
        300: #5B636D,
        400: #39B5E4,
        500: #19536C,
        600: #052C3B,
        700: #24303E
    ),

    green: (
        100: #90D4C6,
        200: #458D7E,
        300: #3E7467,
        400: #2C7566,
        500: #24554A
    ),

    gray: (
        100: #FFFCF8,
        200: #F4F4F4,
        300: #F1F1F1,
        400: #E7E7E7,
        500: #E3E3E3,
        600: #CECECE,
        700: #C1C1C1,
        800: #979797
    ),

    white: (
        100: #FFFFFF
    ),

    yellow: (
        100: #FAD400
    ),

    orange: (
        100: #FE7766
    )
)