@use './breakpoints' as *;

@mixin flex($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin phone {
    @media (min-width: 0) and (max-width: #{$breakpoint-sm}) {
        @content;
    } 
}

@mixin tablet {
    @media (min-width: #{$breakpoint-sm}) and (max-width: #{$breakpoint-md}) {
        @content;
    } 
}

@mixin medium {
    @media (min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-xl}) {
        @content;
    } 
}


@mixin desktop {
    @media (min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-xl}) {
        @content;
    } 
}

@mixin media($min, $max) {
    @media (min-width: #{$min}) and (max-width: #{$max}) {
        @content;
    }  
}